// `root.scss`に記述するもの
// 配置関連
// フォントなど

html {
font-family:
  'M PLUS 1p',
    sans-serif;
font-size: 16px;
word-spacing: 1px;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
h1 {
  font-weight: bold;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.container {
  // iPad横が最大サイズ
  max-width: 1024px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      border-bottom: solid 1px $border-gray;
      margin-bottom: 2rem;
      h2 {
        text-align: start;
      }
    }
    [class*="-container"] {
      margin-bottom: 2rem;
      padding: 0 1rem;
    }
  }
}
// h3見出し関連
h3 {
  display: inline-block;
  margin-bottom: 1rem;
  border-bottom: solid 1px $border-gray;
}
img {
  width: 100%;
  height: auto;
}
}
